<!-- <header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="js/holder.js/500x150"></a>

    <nav class="navbar">
        <ul>
            <li class="nav-item"><a href="{{ site.baseurl }}/">homesss</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
        </ul>
    </nav>

</header> -->
<div id="header"></div>
<script id="headerTmpl" type="text/html">
    <div class="head-fix">
        <div class="top">
            <a href="https://www.pgyer.com/W11h"><%=data.top%></a>
        </div>
        <div class="head-nav box">
            <a href="{{ site.baseurl }}/index.html"><div class="logo"><img src="{{ site.baseurl }}/images/logo.png"></div></a>
            <div class="language">
                <p><span>EN</span><i></i></p>
                <ul>
                    <li data-txt="EN" data-key="en">English</li>
                    <li data-txt="中文" data-key="ch">中文</li>
                    <li data-txt="ES" data-key="es">Español</li>
                </ul>
            </div>
            <a href="https://t.me/HNB_ECO" target="_blank" class="join">
                <%=data.btnTxt%><i class="icon-join"></i></a>
            <ul class="nav">
                <% for(var i=0; i<data.nav.length; i++){ %>
                    <li>
                        <a href="{{ site.baseurl }}/<%=data.nav[i].url%>">
                            <%=data.nav[i].name%>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</script>