<!-- <header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="js/holder.js/500x150"></a>

    <nav class="navbar">
        <ul>
            <li class="nav-item"><a href="{{ site.baseurl }}/">homesss</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
        </ul>
    </nav>

</header> -->
<div id="header"></div>
<script id="headerTmpl" type="text/html">
    <div class="head-fix">
        <div class="top">
            <a href="https://fir.im/HNBA"><%=data.top%></a>
        </div>
        <div class="head-nav box pc-box">
            <a href="/"><div class="logo"><img src="/images/logo.png"></div></a>
            <div class="language">
                <p><span>EN</span><i></i></p>
                <ul>
                    <li><a href="/en.html">English</a></li>
                    <li><a href="{{ site.baseurl }}/cn.html">中文</a></li>
                    <li><a href="{{ site.baseurl }}/sp.html">Español</a></li>
                </ul>
            </div>
            <a href="https://t.me/HNB_ECO" target="_blank" class="join">
                <%=data.btnTxt%><i class="icon-join"></i></a>
            <ul class="nav">
                <% for(var i=0; i<data.nav.length; i++){ %>
                    <li>
                        <a href="{{ site.baseurl }}<%=data.nav[i].url%>">
                            <%=data.nav[i].name%>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="head-nav box mobile-box">
            <a href="/"><div class="logo"><img src="/images/logo.png"></div></a>
            <div class="nav-more">
                <a class="more"></a>
                <ul class="nav">
                    <% for(var i=0; i<data.nav.length; i++){ %>
                        <li>
                            <a href="{{ site.baseurl }}<%=data.nav[i].url%>">
                                <%=data.nav[i].name%>
                            </a>
                        </li>
                    <% } %>
                    <li><a href="/en">English</a></li>
                    <li><a href="{{ site.baseurl }}/cn">中文</a></li>
                    <li><a href="{{ site.baseurl }}/sp">Español</a></li>
                </ul>
            </div>
        </div>
    </div>
</script>