<div class="main">
    <div id="mainBox"></div>
    <div id="mainEmail"></div>
</div>

<script id="mainBoxTmpl" type="text/html">
    <h1 class="title box">
        <p>
            <%=data.top.title%>
        </p>
        <%=data.top.des%>
    </h1>
    <div class="head-btn">
        <a href="http://c.hnb.wiki/SimpleWhitepaper.pdf"  target="_blank"><span><%=data.top.nav.summary%></span></a>
        <a href="http://c.hnb.wiki/WhitePaper.pdf" target="_blank"><span><%=data.top.nav.whitepaper%></span></a>
        <a href="index.html#email"><span><%=data.top.nav.newsletter%></span></a>
    </div>
    <div class="banner box"><img src="images/pic copy@2x.png"></div>

    <div class="item1 box" id="features">
        <section class="content">
            <h2><%=data.item1.title%></h2>
            <p><%=data.item1.des%></p>
        </section>
        <ul>
            <li>
                <div class="img"><img src="images/Group 77@2x.png"></div>
                <h5><%=data.item1.list[0].title%></h5>
                <p><%=data.item1.list[0].des%></p>
            </li>
            <li>
                <div class="img"><img src="images/Group 79@2x.png"></div>
                <h5><%=data.item1.list[1].title%></h5>
                <p><%=data.item1.list[1].des%></p>
            </li>
            <li>
                <div class="img"><img src="images/Group 82@2x.png"></div>
                <h5><%=data.item1.list[2].title%></h5>
                <p><%=data.item1.list[2].des%></p>
            </li>
            <li>
                <div class="img"><img src="images/Group 84@2x.png"></div>
                <h5><%=data.item1.list[3].title%></h5>
                <p><%=data.item1.list[3].des%></p>
            </li>
            <li>
                <div class="img"><img src="images/Group 87@2x.png"></div>
                <h5><%=data.item1.list[4].title%></h5>
                <p><%=data.item1.list[4].des%></p>
            </li>
            <li>
                <div class="img"><img src="images/Group 91@2x.png"></div>
                <h5><%=data.item1.list[5].title%></h5>
                <p><%=data.item1.list[5].des%></p>
            </li>
        </ul>
    </div>

    <div class="item2">
        <div>
            <p>300,000</p><%=data.item2[0]%></div>
        <div>
            <p>10,000</p><%=data.item2[1]%></div>
        <div>
            <p>10+</p><%=data.item2[2]%></div>
    </div>

    <div class="item3 box" id="ecosystem">
        <section class="content">
            <h2><%=data.item3.title%></h2>
            <p><%=data.item3.des%></p>
        </section>
        <div class="system">
            <div class="left"><img src="images/Group 34@2x.png"></div>
            <div class="right">
                <ul>
                    <% for(var i=0; i<data.item3.list.length; i++){ %>
                        <li class="icon-sys<%= i + 1 %>">
                            <h5><%=data.item3.list[i].title%></h5>
                            <p><%=data.item3.list[i].des%></p>
                        </li>
                    <% } %>
                </ul>
                <p class="code"><img src="images/code.png"></p>
                <a href="https://www.pgyer.com/W11h" target="_blank" class="download-btn"><%=data.item3.btnTxt%></a>
            </div>
        </div>
    </div>

    <div class="item4 box" id="roadmap">
        <section class="content">
            <h2><%=data.item4.title%></h2>
        </section>
        <ul class="pc-box">
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[0].title%></h5><%=data.item4.list[0].des%>
                </div>
                <p class="border1 blue"><span><i></i></span>Q1 2017</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[1].title%></h5><%=data.item4.list[1].des%>
                </div>
                <p class="border1 blue"><span><i></i></span>Q4 2017</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[2].title%></h5><%=data.item4.list[2].des%>
                </div>
                <p class="border1-left blue"><span><i></i></span>Q1 2018</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[3].title%></h5><%=data.item4.list[3].des%>
                </div>
                <p class="border1-m-left blue"><span><i></i></span>Q4 2018</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[4].title%></h5><%=data.item4.list[4].des%>
                </div>
                <p class="border1 blue"><span><i></i></span>Q3 2018</p>
            </li>
            <li>
                <div class="txt border2-right">
                    <h5><%=data.item4.list[5].title%></h5><%=data.item4.list[5].des%>
                </div>
                <p class="blue"><span><i></i></span>Q2 2018</p>
            </li>
            <li>
                <div class="txt border3-left2">
                    <h5><%=data.item4.list[6].title%></h5><%=data.item4.list[6].des%>
                </div>
                <p class="blue colorB"><em></em><span><i></i></span>Q2 2019</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[7].title%></h5><%=data.item4.list[7].des%>
                </div>
                <p class="border3 yello"><span><i></i></span>Q3 2019</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[8].title%></h5><%=data.item4.list[8].des%>
                </div>
                <p class="border3 yello"><span><i></i></span>Q4 2019</p>
            </li>
        </ul>
        <div class="mobile-box">
        <ul>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[0].title%></h5><%=data.item4.list[0].des%>
                </div>
                <p class="border1 blue"><span><i></i></span>Q1 2017</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[1].title%></h5><%=data.item4.list[1].des%>
                </div>
                <p class="border1-left blue"><span><i></i></span>Q4 2017</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[5].title%></h5><%=data.item4.list[5].des%>
                </div>
                <p class="border1-m-left blue colorB"><span><i></i></span>Q2 2018</p>
            </li>
            <li>
                <div class="txt border2-right">
                    <h5><%=data.item4.list[2].title%></h5><%=data.item4.list[2].des%>
                </div>
                <p class="blue"><span><i></i></span>Q1 2018</p>
            </li>
            <li>
                <div class="txt  border3-left2">
                    <h5><%=data.item4.list[4].title%></h5><%=data.item4.list[4].des%>
                </div>
                <p class="blue"><span><i></i></span>Q3 2018</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[3].title%></h5><%=data.item4.list[3].des%>
                </div>
                <p class="border1-left blue"><span><i></i></span>Q4 2018</p>
            </li>
            <li>
                <div class="txt">
                    <h5><%=data.item4.list[7].title%></h5><%=data.item4.list[7].des%>
                </div>
                <p class="border2-left yello"><span><i></i></span>Q3 2019</p>
            </li>
            <li>
                <div class="txt border2-right">
                    <h5><%=data.item4.list[6].title%></h5><%=data.item4.list[6].des%>
                </div>
                <p class="blue colorB"><span><i></i></span>Q2 2019</p>
            </li>
            <li>
                <div class="txt border3-left">
                    <h5><%=data.item4.list[8].title%></h5><%=data.item4.list[8].des%>
                </div>
                <p class="yello"><span><i></i></span>Q4 2019</p>
            </li>
        </ul>
    </div>
    </div>

    <div class="item5 box" id="team">
        <section class="content">
            <h2><%=data.item5.title%></h2>
        </section>
        <ul>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 8 Copy 2@2x.png"></div>
                    <div class="name"><%=data.item5.list[0].name%></div>
                    <div class="tit"><%=data.item5.list[0].tit%></div>
                    <a class="link-in" target="_blank" href="https://www.linkedin.com/in/ken-lee-2332462a/"></a>
                </div>
                <div class="negative">
                    <div class="name"><%=data.item5.list[0].name%></div>
                    <div class="tit"><%=data.item5.list[0].tit%></div>
                    <div class="info"><%=data.item5.list[0].des%></div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 1 Copy@2x.png"></div>
                    <div class="name"><%=data.item5.list[1].name%></div>
                    <div class="tit"><%=data.item5.list[1].tit%></div>
                    <a class="link-in" target="_blank" href="https://www.linkedin.com/in/aladwu/"></a>
                </div>
                <div class="negative">
                    <div class="name"><%=data.item5.list[1].name%></div>
                    <div class="tit"><%=data.item5.list[1].tit%></div>
                    <div class="info"><%=data.item5.list[1].des%></div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 1 Copy 2@2x.png"></div>
                    <div class="name"><%=data.item5.list[2].name%></div>
                    <div class="tit"><%=data.item5.list[2].tit%></div>
                    <a class="link-in" target="_blank" href="https://www.linkedin.com/in/mark-treleaven-364225/"></a>
                </div>
                <div class="negative">
                    <div class="name"><%=data.item5.list[2].name%></div>
                    <div class="tit"><%=data.item5.list[2].tit%></div>
                    <div class="info"><%=data.item5.list[2].des%></div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 1 Copy 3@2x.png"></div>
                    <div class="name"><%=data.item5.list[3].name%></div>
                    <div class="tit"><%=data.item5.list[3].tit%></div>
                    <a class="link-in" target="_blank" href="https://www.linkedin.com/in/yizhou-li-507140168/?trk=profile_share_wechat"></a>
                </div>
                <div class="negative">
                    <div class="name"><%=data.item5.list[3].name%></div>
                    <div class="tit"><%=data.item5.list[3].tit%></div>
                    <div class="info"><%=data.item5.list[3].des%></div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 1 Copy 4@2x.png"></div>
                    <div class="name"><%=data.item5.list[4].name%></div>
                    <div class="tit"><%=data.item5.list[4].tit%></div>
                    <a class="link-in" target="_blank" href="https://www.linkedin.com/in/zhang-tony-8a0266168/"></a>
                </div>
                <div class="negative">
                    <div class="name"><%=data.item5.list[4].name%></div>
                    <div class="tit"><%=data.item5.list[4].tit%></div>
                    <div class="info"><%=data.item5.list[4].des%></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="item6 box" id="advisors">
        <section class="content">
            <h2><%=data.item6.title%></h2>
        </section>
        <ul>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 4@2x.png"></div>
                    <div class="name">Richard Wang</div>
                    <div class="tit">DFJ Dragon Fund</div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 13@2x.png"></div>
                    <div class="name">Bill Ming</div>
                    <div class="tit">CEO Creative Fund</div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 11@2x.png"></div>
                    <div class="name">Meng Qinghai</div>
                    <div class="tit">My Tech Fund</div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 6@2x.png"></div>
                    <div class="name">Zhu Kang</div>
                    <div class="tit">BN Capital</div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 7@2x.png"></div>
                    <div class="name">Rain Huan</div>
                    <div class="tit">Atlas Capital</div>
                </div>
            </li>
            <li>
                <div class="positive">
                    <div class="img"><img src="images/Image 9@2x.png"></div>
                    <div class="name">Yu Jianghong</div>
                    <div class="tit">My Tech Fund</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="item7 box">
        <section class="content">
            <h2><%=data.item7.title%></h2>
        </section>
        <ul>
            <li>
                <img src="images/Probing Fund@2x.png">
                <p><%=data.item7.list[0]%></p>
            </li>
            <li>
                <img src="images/BN Capital@2x.png">
                <p><%=data.item7.list[1]%></p>
            </li>
            <li>
                <img src="images/Creative Manger Ventures Creative Manger Ventures @2x.png">
                <p><%=data.item7.list[2]%></p>
            </li>
            <li>
                <img src="images/E-Fund@2x.png">
                <p><%=data.item7.list[3]%></p>
            </li>
            <li>
                <img src="images/MyTech Fund@2x.png">
                <p><%=data.item7.list[4]%></p>
            </li>
            <li>
                <img src="images/HongLian Capital@2x.png">
                <p><%=data.item7.list[5]%></p>
            </li>
            <li>
                <img src="images/BetaCoin Fund@2x.png">
                <p><%=data.item7.list[6]%></p>
            </li>
            <li>
                <img src="images/Skyline Capital@2x.png">
                <p><%=data.item7.list[7]%></p>
            </li>
            <li>
                <img src="images/Atlas Capital@2x.png">
                <p><%=data.item7.list[8]%></p>
            </li>
            <li>
                <img src="images/TimeLine@2x.png">
                <p><%=data.item7.list[9]%></p>
            </li>
        </ul>
    </div>

    <div class="item8 box">
        <section class="content">
            <h2><%=data.item8.title%></h2>
        </section>
        <ul>
            <li>
                <div class="tit"><i><img src="images/icon-partner1.png"></i><%=data.item8.class[0].tit%></div>
                <div class="list">
                    <% for(var i=0; i<data.item8.class[0].list.length; i++){ %>
                    <div class="partner-box">
                        <img src="<%=data.item8.class[0].list[i].img%>" style="width:<%=data.item8.class[0].list[i].imgW%>">
                        <div class="info <%=data.item8.class[0].list[i].class%>">
                            <h5><%=data.item8.class[0].list[i].title%></h5>
                            <p><%=data.item8.class[0].list[i].des%></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </li>
            <li>
                <div class="tit"><i><img src="images/icon-partner4.png"></i><%=data.item8.class[3].tit%></div>
                <div class="list">
                    <% for(var i=0; i<data.item8.class[3].list.length; i++){ %>
                    <div class="partner-box">
                        <img src="<%=data.item8.class[3].list[i].img%>" style="width:<%=data.item8.class[3].list[i].imgW%>">
                        <div class="info <%=data.item8.class[3].list[i].class%>">
                            <h5><%=data.item8.class[3].list[i].title%></h5>
                            <p><%=data.item8.class[3].list[i].des%></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </li>
            <li>
                <div class="tit"><i><img src="images/icon-partner2.png"></i><%=data.item8.class[1].tit%></div>
                <div class="list">
                    <% for(var i=0; i<data.item8.class[1].list.length; i++){ %>
                    <div class="partner-box">
                        <img src="<%=data.item8.class[1].list[i].img%>" style="width:<%=data.item8.class[1].list[i].imgW%>">
                        <div class="info <%=data.item8.class[1].list[i].class%>">
                            <h5><%=data.item8.class[1].list[i].title%></h5>
                            <p><%=data.item8.class[1].list[i].des%></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </li>
            <li>
                <div class="tit"><i><img src="images/icon-partner3.png"></i><%=data.item8.class[2].tit%></div>
                <div class="list">
                    <% for(var i=0; i<data.item8.class[2].list.length; i++){ %>
                    <div class="partner-box">
                        <img src="<%=data.item8.class[2].list[i].img%>" style="width:<%=data.item8.class[2].list[i].imgW%>">
                        <div class="info <%=data.item8.class[2].list[i].class%>">
                            <h5><%=data.item8.class[2].list[i].title%></h5>
                            <p><%=data.item8.class[2].list[i].des%></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </li>
        </ul>
    </div>

    <div class="item9 box">
               {% for post in site.categories.cn %}
               	{% if forloop.first %}
               	        <section>
			            <h2><%=data.item9.title%></h2>
			            <div class="news">
			                <a href="{{post.url | prepend: site.baseurl }}"><div class="img"><img src="{{post.preview }}"></div></a>
			                <h5>{{post.title }}</h5>
			                <span>{{post.date | date_to_string }}</span>
			                <p>{{post.excerpt }}<a href="{{ post.url | prepend: site.baseurl }}">read more</a></p>
			            </div>
			        </section>
			        {% endif %}
		  {% endfor %}
               	<ul>
               	 {% for post in site.categories.cn limit:4 %}
               		{% if  forloop.first %}

			  {% else %}
                 	            <li class="news">
			                <a href="{{post.url | prepend: site.baseurl }}">
			                    <div class="img"><img src="{{post.preview }}"></div>
			                    <h5>{{post.title }}</h5>
			                    <p>{{post.excerpt }}</p>
			                </a>
			            </li>
               	{% endif %}
               	
                {% endfor %}
             </ul>
        <div class="news-btn"><a href="{{ site.baseurl }}/newsroom_cn/"><%=data.item9.btnTxt%></a></div>
    </div>
</script>

<script id="mainEmailTmpl" type="text/html">
    <div class="email" id="email">
        <h4>
            <%=data.tit%>
        </h4>
        <p>
            <%=data.des%>
        </p>
        <div class="em-form">
            <input id="emailTxt"type="text" placeholder="<%=data.inputTxt%>" />
            <a id="emailBtn">
                <%=data.btnTxt%>
            </a>
        </div>
    </div>
</script>

<style>
.head-nav .language {
    display: block;
}
</style>
